<footer slot="footer" class="px-4 flex flex-col items-center gap-4 py-5 text-center text-white">
    <a href="#index" id="back-to-top" tabindex="0">
        <div class="flex items-center gap-2 uppercase">
            Back To Top
        </div>
    </a>
    <span>© 2022 Mizu Accounting. All rights reserved.
        <!--<br />
        Licensed and regulated by the AAT (Association of Accounting Technicians)-->
    </span>
</footer>